[submodule "pkg/tag"]
	path = pkg/tag
	url = https://github.com/hanxi/tag.git
[submodule "clients/player"]
	path = clients/player
	url = https://github.com/songloft-org/songloft-player.git
[submodule "plugins/toolchain"]
	path = plugins/toolchain
	url = https://github.com/songloft-org/plugin-toolchain.git
[submodule "plugins/src/songloft-plugin-miot"]
	path = plugins/src/songloft-plugin-miot
	url = https://github.com/songloft-org/songloft-plugin-miot.git
[submodule "tools/ffmpeg-builder"]
	path = tools/ffmpeg-builder
	url = https://github.com/hanxi/ffmpeg-builder.git
[submodule "plugins/src/songloft-plugin-subsonic"]
	path = plugins/src/songloft-plugin-subsonic
	url = https://github.com/songloft-org/songloft-plugin-subsonic.git
[submodule "plugins/src/songloft-plugin-cloudflared"]
	path = plugins/src/songloft-plugin-cloudflared
	url = https://github.com/songloft-org/songloft-plugin-cloudflared.git
[submodule "plugins/src/songloft-plugin-dav"]
	path = plugins/src/songloft-plugin-dav
	url = https://github.com/songloft-org/songloft-plugin-dav.git
[submodule "plugins/src/songloft-plugin-hostc"]
	path = plugins/src/songloft-plugin-hostc
	url = https://github.com/songloft-org/songloft-plugin-hostc.git
[submodule "plugins/src/songloft-plugin-registry"]
	path = plugins/src/songloft-plugin-registry
	url = https://github.com/songloft-org/songloft-plugin-registry.git
[submodule "plugins/src/songloft-plugin-downloader"]
	path = plugins/src/songloft-plugin-downloader
	url = https://github.com/songloft-org/songloft-plugin-downloader.git
[submodule "plugins/src/songloft-plugin-lyrics"]
	path = plugins/src/songloft-plugin-lyrics
	url = https://github.com/songloft-org/songloft-plugin-lyrics.git
[submodule "plugins/src/songloft-plugin-radio"]
	path = plugins/src/songloft-plugin-radio
	url = https://github.com/songloft-org/songloft-plugin-radio.git
[submodule "integrations/home-assistant"]
	path = integrations/home-assistant
	url = https://github.com/songloft-org/home-assistant-addon.git
[submodule "plugins/src/songloft-plugin-tagger"]
	path = plugins/src/songloft-plugin-tagger
	url = https://github.com/songloft-org/songloft-plugin-tagger.git
[submodule "clients/tv"]
	path = clients/tv
	url = https://github.com/songloft-org/songloft-tv.git
[submodule "clients/player-lynx"]
	path = clients/player-lynx
	url = https://github.com/songloft-org/songloft-player-lynx.git
[submodule "tools/tracely"]
	path = tools/tracely
	url = https://github.com/hanxi/tracely.git
